
@{
    ViewBag.Title = "SignupSuccess";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>SignupSuccess</h2>

You have successfully register an account. Lets get back to the login page

<form method="post" action="/Vibrant/Login">
    <button type="submit">Login</button>
</form>